.welcome-image {
  background-image: url("../../img/welcome-to-ghost.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
}

.welcome-header {
  padding-top: 180px;
  padding-left: 250px;
  text-align: left;
  line-height: 170%;
}

.welcome-header h4 {
  margin-top: 0;
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.welcome-header h1 {
  font-size: 60px;
  font-weight: 500;
  color: white;
}

.profile-info {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 250px;
  margin-top: 50px;
}

.profile-info img {
  width: 45px;
  height: 45px;
  border: 2px solid white;
  border-radius: 50%;
}

.profile-name {
  padding-left: 20px;
  line-height: 30%;
}

.profile-name h4 {
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.profile-name p {
  margin-top: unset;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

.about {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding-top: 60px;
}

.about p {
  color: #222426;
  font-size: 25px;
}

.about h4 {
  color: #222426;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@media only screen and (max-width: 1024px) {
  .welcome-header {
    padding-left: 50px;
  }

  .welcome-header h4 {
    font-size: 22px;
  }

  .welcome-header h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .profile-info {
    padding-left: 50px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .welcome-header {
    padding-left: 30px;
  }

  .welcome-header h4 {
    font-size: 17px;
  }

  .welcome-header h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .profile-info {
    display: grid;
    padding-left: 30px;
  }

  .profile-name {
    padding-left: 0;
  }

  .profile-name p {
    font-size: 14px;
  }

  .about p {
    font-size: 20px;
  }

  .about h4 {
    font-size: 15px;
  }
}
