.info {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 43px;
  border-bottom: 1px solid rgba(46, 17, 20, 0.17);
}

.info h1 {
  font-size: 40px;
}

.info p {
  font-size: 15px;
  color: #909499;
}

.info h3 {
  font-size: 20px;
  font-weight: 400;
  color: #222426;
}
